@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: unset;
    text-decoration: unset;
    list-style-type: none;
    transition: .5s;
    position: relative;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Gilroy';
}

$grey: #F0F0F0;
$black: #2F2F2F;
$white: #FFFFFF;

.profile_color {
    background-color: #A5A6F6;
}

.portfolio_color {
    background-color: #F178B6;
}

.srFresh_color {
    background-color: #3AC49F;
}

.srPro_color {
    background-color: #5D5FEF;
}

.srTop_color {
    background-color: #EF5DA8;
}

@mixin block {
    border-radius: 15px;
    padding: 16px 18px;
    background-color: $grey;
}

.container {
    max-width: 1250px;
    padding: 50px 25px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 30px;

    @media (max-width: 987px) {
        flex-wrap: wrap;
    }
}

aside {
    @include block;
    display: inline-flex;
    align-items: flex-start;

    #arrow_down {
        display: none;
        cursor: pointer;

        @media (max-width: 987px) {
            display: block;
            min-width: 50px;
        }
    }

    .active_arrow {
        transform-origin: center;
        transform: rotate(-180deg);
    }

    @media (max-width: 987px) {
        width: 100%;
        max-height: 90px;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
    }

    ul {

        @media (max-width: 987px) {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            font-weight: 500;
            font-size: 16px;
            color: $black;
            border-radius: 15px;
            width: 100%;
            padding: 20px;

            @media (max-width: 987px) {
               
            }


            a {
                display: flex;
                align-items: center;


                svg {
                    width: 20px;
                    margin-right: 14px;

                }
            }

            &:last-of-type::before {
                content: '';
                display: block;
                position: absolute;
                background-color: #2F2F2F;
                height: 1px;
                opacity: 0.1;
                width: calc(100% + 36px);
                left: -18px;
                top: 0;

                // @media (max-width: 987px) {
                //     height: calc(100% + 4.5px);
                //     width: 1px;
                //     top: -2.25px;
                //     left: 0;
                // }    

                @media (max-width: 987px) {
                    display: none;
                }
            }
        }

        .li_active {
            color: #EF5DA8;
            background-color: $white;

            svg {
                path {
                    fill: #EF5DA8;
                }

                rect {
                    stroke: #EF5DA8;
                }
            }
        }

        .premium {
            color: #5D5FEF;
        }

    }
}

.aside_active {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

    .profile {
        @include block();
        flex: 1;

        &>div:not(:first-of-type)::before {
            content: '';
            display: block;
            position: absolute;
            background-color: #2F2F2F;
            height: 1px;
            opacity: 0.1;
            width: calc(100% + 36px);
            left: -18px;
            top: 0;
        }

        .profile_head {
            display: flex;
            align-items: center;
            gap: 22px;
            justify-content: space-between;
            padding-bottom: 20px;

            .profile_user {
                display: flex;
                align-items: center;
                gap: 22px;

                h2 {
                    font-weight: 700;
                    font-size: 20px;

                    @media (max-width: 575px) {
                        font-size: 16px;
                    }
                }
            }

            .profile_status {
                background: #EF5DA8;
                border-radius: 46px;
                padding: 4px 7.5px;
                color: $white;
                text-transform: uppercase;
                font-size: 10px;
            }
        }

        .profile_respect {
            padding: 30px 0;

            h3 {
                font-weight: 600;
                font-size: 19px;

                @media (max-width: 575px) {
                    font-size: 16px;
                }

                span {
                    font-weight: 400;
                    font-size: 12px;
                    color: #EF5DA8;
                    cursor: pointer
                }
            }

            .profile_respect_items {
                display: flex;
                flex-wrap: wrap;
                gap: 6px;

                .item {
                    padding: 22px 14px 22px 9px;
                    background-color: $white;
                    border-radius: 15px;
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .circle {
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;

                        @media (max-width: 575px) {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    @media (max-width: 575px) {
                        font-size: 14px;
                    }

                }

            }
        }

        .profile_disk {
            padding: 30px 0 10px 0;

            h3 {
                font-weight: 600;
                font-size: 19px;

                @media (max-width: 575px) {
                    font-size: 16px;
                }
            }

            .disk {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-top: 15px;

                .light {
                    font-weight: 600;
                    font-size: 16px;
                    color: #868686;
                    @media (max-width: 575px) {
                        font-size: 14px;
                    }
                }

                .mb {
                    font-weight: 600;
                    font-size: 16px;
                    color: #2F2F2F;
                    display: flex;
                    @media (max-width: 575px) {
                        font-size: 14px;
                    }

                    span {
                        display: block;
                        width: 20px;
                    }
                }

                .disk_size {
                    flex: 1;
                    background-color: #C7C8FF;
                    height: 15px;
                    border-radius: 63px;

                    .occupied {
                        width: 0;
                        height: 15px;
                        background-color: #5D5FEF;
                        border-radius: 63px;
                    }
                }
            }
        }
    }

    .sr {
        @include block();
        width: 270px;
        text-align: center;

        @media (max-width: 575px) {
           width: 100%;
        }

        .circle_chart {
            margin-top: 50%;

            @media (max-width: 575px) {
                margin-top: 148px;
             }

            .mkc_circle-chart {
                transform-origin: center;
                position: absolute;
                transform: translate(-50%, -50%) rotate(180deg);
                left: 50%;
                top: 50%;

                @media (max-width: 575px) {
                    top: 0px;
                 }
            }

            &:hover {
                .mkc_circle-popup {
                    opacity: 1 !important;
                }
            }

            .mkc_circle-popup {
                position: absolute;
                z-index: 10;
                opacity: 0;

                text {
                    text-transform: uppercase;
                }
            }
        }


        .mkc_circle {
            animation: mck_progress 3000ms ease-in-out;
        }

        @keyframes mck_progress {
            0% {
                stroke-dasharray: 0, 100;
            }
        }

        .sr_text {
            transform-origin: center;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 160px;
            text-align: center;

            @media (max-width: 575px) {
                top: 190px;
             }

            .small {
                font-weight: 600;
                font-size: 12px;
                color: #EF5DA8;
                line-height: 0.9em;
            }

            .bold {
                font-weight: 700;
                font-size: 34px;
                color: #5D5FEF;
                line-height: 0.9em;
            }

            .normal {
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                color: #717171;
                line-height: 0.9em;
            }
        }


        .value {
            margin-top: 280px;
            font-size: 12px;
            color: #717171;
            font-weight: 700;

            span {
                font-size: 20px;
                line-height: 24px;
                color: #5D5FEF;
                font-weight: 700;
            }
        }

    }

    .statistics {
        @include block();
        width: 100%;
        padding: 0;
        overflow-x: auto;

        table {
            width: 100%;
            border-spacing: 0px;
            overflow-x: auto;

            tr {

                &:nth-child(even) {
                    background: #F5F5F5;
                }

                &:first-child {
                    background-color: #5D5FEF;
                    color: $white;

                }

                th {
                    padding: 16px 20px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    @media (max-width: 575px) {
                        font-size: 12px;
                     }

                    &:first-of-type {
                        font-weight: 700;
                        font-size: 20px;
                        color: #D6D6FF;
                        text-align: left;

                        @media (max-width: 575px) {
                            font-size: 14px;
                         }
                    }


                    &:not(:last-of-type) {
                        border-right: 1px solid $white;
                    }
                }

                td {
                    padding: 15px 20px;
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                    color: #2F2F2F;
                    @media (max-width: 575px) {
                        font-size: 12px;
                     }

                    &:first-of-type {
                        text-align: left;
                    }

                    &:not(:last-of-type) {
                        border-right: 1px solid $white;
                    }
                }

            }

        }

    }
}